# Dependencies
node_modules/

# Angular & Ionic build / cache
.angular/
dist/
www/
tmp/
out-tsc/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
